.wrapper{
    margin-left: auto;
    margin-right: auto;
    width: calc(100vw - 100px); /* This is a math calculation to give a precise value */
    border: 1px solid black
}

/*Top section*/

.top-section{
    background-image: url(https://images.unsplash.com/photo-1512618831669-521d4b375f5d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2788&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.top-section h1, .top-section h2  {
    margin: 0;
    text-align: center;
}


/* Grid item */
.grid { 
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;



}
.grid-item {
    border: 1px solid #00A4BD;   
    flex-basis: calc(100% / 4);
    box-sizing: border-box;
    padding: 10px;
}

.grid-item > a {
    display: block;
}

.grid-item > img {
    width:100%;
}